@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: url("/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cardSec {
  background: url("/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.priceSec .card {
  background: url("/card-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}

.priceSec .card:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.bannerSec {
  background: radial-gradient(at top right, #1B164980 20%, #010624 100%),
    url('/banner.jpg') no-repeat center / cover;
  height: 60vh;
  text-align: center;
}

.slick-slide img {
  display: block;
  width: 50%;
}


/* Privacy Policy */

.policyHeader {
  background: #fff;
}

.policyHeader h1 {
  font-size: 30px;
  color: #1a1919;
}

.policyContent {
  background: #fff;
}

.policyContent p {
  padding: 10px 0;
  color: #111;
  font-size: 15px;
}